@media screen and (max-width: 1000px){
    .content{
        height: fit-content;
    }
    .refresh, .check{
        height: auto;
        padding: 8px;
        border: none;
        border-radius: 4px;
        color: white;
        width: 45%;
        height: 3.5vw;
        font-size: small;
        font-weight: 200;
    }
    .word{
        font-weight: bold;
        font-size: medium;
        letter-spacing: 0.9vw;
    }
    
}

@media screen and (max-width: 800px){
    .content{
        height: fit-content;
    }
    .refresh, .check{
        height: fit-content;
        padding: 4px;
        border: none;
        border-radius: 4px;
        color: white;
        font-size: smaller;
        font-weight: 200;
    }
   .content h1{
    font-size: large;
    padding: 2vw;
   }
}


@media screen and (max-width: 500px){
  .hint{
    font-size: small;
  }
  .time{
    font-size: small;
    padding-top: 1vw;
  }
  .form input{
    height: 5vw;
  }
  .word{
    font-weight: bold;
    font-size: medium;
    letter-spacing: 0.5vw;
}
.form{
    padding-right: 2vw;
}
}
